/log/*.log

/tmp
.DS_Store
.idea/
.sass-cache
*~
node_modules
*.out
npm-debug.log
*.html
config/email-config.js
package-lock.json
config/contract-address.json

# custom
# ethereum build directory
ethereum/build/

# data directorys
data/candidate/*
data/publicKey/*
data/secretKey/*
data/result/*

# hec exec binary files
hec/bin/createKeys
hec/bin/encrypt_candidate_list
hec/bin/tally

# env file
.env
