/log/*.log

/tmp
.DS_Store
.idea/
.sass-cache
*~
node_modules
*.out
npm-debug.log
*.html
config/email-config.js
package-lock.json
config/contract-address.json


# ethereum build directory
ethereum/build/


# HElib
app/hec/HElib/

# data directorys
data/

# hec exec binary files
app/hec/bin/


# env file
.env
